.App {
  font-family: sans-serif;
  text-align: center;
}
.center {
  text-align: center;
}

.myInput {
  width: 300px;
  height: 50px;
  text-align: center;
  margin-left: 30%;
  box-sizing: border-box;
}

ol {
  display: block;
  list-style-type: disc;
  padding-left: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}

button {
  padding: 10px;
  margin: 5px;
  text-overflow: hidden;
  text-transform: uppercase;
  text-decoration: line-through;
}

.active {
  color: black;
  font-size: 16px;
  border: 2px solid black;
  width: 10px;
  height: 15px;
  background-color: gray;
}

.inactive {
  color: dimgrey;
}

.flat {
  display: flex;
}

.box {
  width: 33%;
}
